<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat app</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

   
        <div id="message-container" >

           
        </div>
        <form action="" id="send-message-form">

    
            <input type="text" id="send-msg-input" >
           <button type="submit">send message</button>
        </form>
    
        <script src="http://localhost:3000/socket.io/socket.io.js"></script>
        <script src="script.js"></script>
        
</body>
</html>